@-moz-document domain("veracross.com") {
:root {
--dark-background: #3a3943;
--darker-background:#2a2c39;
--darkest-background: #1b1d23;
--green-background: #0f5718;
--font-light:#fff;
--font-lighter: #fff;
--font-darker:#e9e9f4;
--font-darkest: #b5b5c4;
--font-label: #cfd0eb;
--home-border: #454650;
--emphasis-border: #9397a7;
--blue-night:  #0e7fff; /* #3951df */
--blue-day: #38afff;
--selected-background: #05acff;
--lavender-background: #a999de;
--aqua-background: #0f7cbf;
--urgent: #ea5c3c;
--completed-background: #10771e;
--warning-background: #db9105de;
}

/* Website */

p {
    color: var(--font-light) !Important;
}

a {
    color: var(--font-darker);
}

a:hover{
    color: var(--selected-background);
}

.portal-background {
    background-image: url(https://images.unsplash.com/photo-1431794062232-2a99a5431c6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2250&q=80);
}

body {
    background-color: var(--darkest-background);
}

.vx-portal-nav__item:hover .vx-portal-nav__item-link, .vx-portal-nav__item-link:hover, .vx-portal-nav__item-link:focus {
    background-color: var(--darkest-background);
    color: var(--font-light);
}

.vx-hover-menu {
    background-color: var(--darkest-background);
}

.vx-hover-menu a {
    color: var(--font-light) !important;
}

html {
    background-color: var(--dark-background)!important;
}

/* Home */

.app-container {
    background-color: var(--darkest-background);
}

h1, h2, h3, h4, h5, h6, .vx-heading-1, .vx-heading-2, .vx-heading-3, .vx-heading-4, .vx-heading-5, .vx-heading-6 {
    color: var(--font-darker) !important;
}

.vx-subtitle {
    color: var(--font-light);
}

.student-overview .reports .report-group a {
    color: var(--blue-night);
}

.vx-page-tabs, .vx-list__item  {
    border-color: var(--home-border) !important;
}

.student-overview .course-links a {
    color: var(--font-light);
}

.student-overview .course-description {
    color: var(--font-light);
}

.vx-tag {
    color: var(--font-label);
}

.student-overview .assignments-link {
    color: var(--font-light);
}

.student-overview .notifications-link {
    color: var(--font-darker);
}

.vx-tab-bar__tab--active::after {
    background-color: var(--emphasis-border);
}

.vx-page-tabs__tab:hover {
    background-color: var(--darker-background);
}

.vx-page-tabs__tab--active {
    background:  var(--dark-background);
    border-color: var(--home-border);
}

.vx-page-tabs__tab:hover a, .vx-page-tabs__tab--active, .vx-page-tabs__tab--active a {
    color: var(--font-darker);
}

.vx-page-tabs__tab {
    border-color: var(--home-border);
}

.vx-page-tabs__tab a {
    color: var(--font-light);
}

/* Schedule */
.daily-schedule .vx-schedule-item  {
    border-color: var(--home-border);
}

.daily-schedule .item-time  {
    color: var(--font-light);
}

.daily-schedule .item-main-description {
    color: var(--font-light);
}

.vx-button {
    border-color: var(--home-border);
    background: none;
}

.daily-schedule .schedule-type-selection .vx-button--active {
    background-color: var(--selected-background);
}

.daily-schedule .now-indicator {
    color: var(--urgent);
}

.vx-button-group .vx-button:last-child:not(:first-child) {
    background-color:  var(--selected-background);
    color: var(--font-light);
}

.vx-button-group .vx-button:last-child:not(:first-child):hover {
    background: var(--selected-background);
    opacity: 0.8;
    color: var(--font-light);
}

.vx-button-group .vx-button:first-child:not(:last-child) {
    background: var(--dark-background);
    color: var(--font-light);
}

.vx-button-group .vx-button:not(:first-child):not(:last-child) {
    background: var(--dark-background);
    color: var(--font-light);
}

.daily-schedule .day-number {
    color: var(--font-light);
}

.daily-schedule .day-week {
    color:  var(--font-darker);
}

border-bottom {
    border-color: var(--home-border);
}

.daily-schedule .schedule a {
    color: var(--font-darker);
}

.daily-schedule .day-selection {
    border-color: var(--home-border);
}


/* Recent Activity */

.recent-updates .vx-list__item:hover {
    background-color: var(--darker-background);
    color:  var(--font-light);
}

.recent-updates .vx-list__item {
    color:  var(--font-light);
}

.vx-list__group-header {
    border-color:  var(--home-border);
}

.vx-list__item {
    border-color:  var(--home-border);
}


/* Assignments */

.vx-tag--primary, .vx-tag--blue {
    background: var(--aqua-background);
}

#planner.timeline .timeline-row.header .count {
    background-color: var(--dark-background);
    border-color: var(--home-border);
    color: var(--font-light)  !important;
}

.container .content {
    background-color: var(--darkest-background) !important;
    color: var(--font-light);
}

.vx-tab-bar, .vx-tab-bar__tab--active {
    background-color: var(--darkest-background) !important;
    color: var(--font-light);
    border: none;
}

#planner.timeline .assignment .assignment-type{
    background-color: var(--darker-background) !important;
    text-shadow: none;
}

#planner.timeline .assignment  {
    border: none;
    box-shadow: none !important;
}

.timeline-table, .timeline .timeline-records {
    background-color: var(--darkest-background) !important;
}

.timeline .timeline-cell.current {
    background-color: var(--dark-background)!important;
}

.timeline .timeline-row {
    border-color: var(--home-border);
}

#planner.timeline .timeline-row.header {
    background-color: var(--darker-background);
    color: var(--font-light) !important;
    border-color: var(--home-border);
}

.timeline .timeline-header-y {
    background-color: var(--darker-background);
    color: var(--font-light);
    box-shadow: none;
}

.timeline .timeline-header-x{
    box-shadow: none;
}

#planner.timeline .timeline-header-y .tools a {
    color: inherit;
}

#planner.timeline .timeline-header-y .subtitle {
    color: var(--font-darker);
}

#planner.timeline .timeline-row.header h4{
    color: inherit;
}

.vx-tab-bar__tab{
    color: inherit;
    border-color: var(--home-border);
}

.vx-tab-bar__tab:hover {
    background-color: var(--dark-background);
    color: var(--blue-night);
}

body.chromeless .container {
    border-color: var(--home-border);
}

.timeline .timeline-cell.divider {
    border-color: var(--home-border) !important;
}

#planner.timeline .timeline-header-y .title,#planner.timeline .timeline-header-y .title:hover {
    opacity: 0.8;
}

#planner.timeline .timeline-header-y .title {
    color: var(--blue-night) !important;
}

#planner.timeline .timeline-header-y .tools a:hover {
    color: var(--blue-night) !important;
}

#planner.timeline .timeline-controls ul.navigate a {
    color:  var(--blue-night)!important;
}

/* Submissions */
.assignment-submission .sidebar {
    background-color: var(--darker-background);
    color: var(--font-light);
}

.assignment-submission .vx-record-header {
    background-color: var(--darkest-background);
    border-color: var(--home-border);
}

.assignment-submission .assignment{
    color: var(--font-light);
}

.vx-record-detail {
    border-color: var(--home-border);
}

.vx-data-field_content {
    color: var(--font-light);
}

.assignment-submission .assignment-submit .submit-confirmation-banner {
    background-color: var(--completed-background);
    border-color: var(--home-border);
}

.vx-empty-state-read-only{
    color: var(--font-light);
}

.vx-form-control .vx-text-field__input, .vx-form-control .vx-date-field__input, .vx-form-control .vx-time-field__input, .vx-form-control .vx-number-field__input, .vx-form-control .vx-search-field__input, .vx-form-control .vx-text-area__input {
    background-color: var(--background-dark);
    border-color: var(--home-border);
}

.vx-message-banner--danger {
    background-color: var(--urgent);
    color: var(--font-light);
}

.vx-tag--success, .vx-tag--green {
    background-color: var(--completed-background);
    color: var(--font-darker);
}

.vx-tag--warning, .vx-tag--yellow {
    background-color: var(--warning-background);
}

.assignment-submission .attach-button {
    color: var(--font-light);
}

.assignment-submission .attach-button:hover {
    background: var(--dark-background);
}

.vx-button--primary:hover {
    color: var(--font-light);
    background: var(--selected-background);
    transition: all 0.3s ease-out;
}

.vx-switch__input[disabled] + .vx-switch__slider, .vx-switch--disabled {
    background: var(--dark-background);
    opacity: 0.8;
}

[data-uppy-drag-drop-supported="true"] .uppy-Dashboard-AddFiles {
    background: var(--darker-background);
}

.uppy-Root, .uppy-Dashboard-AddFiles-title {
    color: var(--font-light) !important;
}

.uppy-Dashboard-note{
    color:  var(--font-darker);
}

.uppy-Dashboard-browse {
    color: var(--blue-night);
}

.uppy-Dashboard-inner {
    border-color: var(--home-border) !important;
    background: var(--home-border);
}

.uppy-DashboardContent-bar {
    border: none;
    background: var(--dark-background);
    color: var(--font-light);
}

.uppy-StatusBar {
    background: var(--dark-background);
    color: var(--font-light) !important;
}

.uppy-StatusBar-content {
    color: var(--font-light) !important;
}

.uppy-size--md .uppy-Dashboard-files {
    background: var(--darker-background)
}

.vx-message-banner--success {
    background: var(--completed-background);
    color: var(--font-light);
    opacity: 0.7;
}

/* Calendar */

.screen-toolbar{
    background: var(--darkest-background);
}

.screen-title {
    color: var(--font-light);
}

.fc-toolbar {
    color: var(--font-light);
    background: var(--darkest-background);
}

.fc-view-container {
    color: var(--font-light);
    background: var(--darkest-background);
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: var(--home-border);
}

.control-calendar .fc-view th {
    background: var(--darkest-background)  !important;
    color: var(--font-dark);
}

.control-calendar .fc-unthemed .fc-day.fc-today {
    background:  var(--darker-background);
}

.fc-toolbar.fc-header-toolbar {
    margin: 0;
}

.control-calendar .fc-toolbar .fc-button {
    background: var(--darker-background);
    color: var(--font-light);
}

.control-calendar .fc-toolbar .fc-button:hover {
    background: var(--dark-background);
}

.fc-icon-right-single-arrow::after, .fc-icon-left-single-arrow::after {
    color: var(--font-light);
}

.control-calendar .fc-day-grid-event .fc-time {
    color:  var(--font-darker) !important;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    color: var(--font-darker);
}

/* Pop-up Student */


.vx-account-info {
    border-color: var(--home-border);
    color: var(--font-light);
}

.vx-account-modal .vx-page-tabs__tab--active, .vx-account-modal .vx-page-tabs__tab--active:hover {
    background-color: var(--dark-background);
}

.vx-account-modal .vx-page-tabs__tab--active, .vx-account-modal .vx-page-tabs__tab--active {
    background-color: var(--darker-background);
}

.vx-account-modal .vx-page-tabs__tab:hover {
    background-color: var(--dark-background);
}

.vx-account-modal .vx-page-tabs__tab:hover span, .vx-account-modal .vx-page-tabs__tab--active, .vx-account-modal .vx-page-tabs__tab--active span {
    color: var(--font-darker);
}

.vx-account-modal__content, .vx-account-modal {
    background-color: var(--darker-background);
}

.vx-account-modal__instructions {
    color: var(--font-light);
}

.vx-button {
    color: var(--font-light);
    border-color: var(--home-border);
}

.vx-portal-list__portal {
    background: transparent;
    
}

.vx-portal-list__portal-description {
    color: var(--font-light);
}

.vx-portal-list__portal-icon, .vx-portal-list__portal:hover .vx-portal-list__portal-description {
    color: var(--font-dark);
}


/* Directory */

.DirectoryEntrySearchForm_InputFilter {
    border-color: var(--home-border) !important;
    background: var(--darker-background);
    color: var(--font-light);
}

.DirectoryCard:last-child {
    border-bottom-color: var(--home-border);
}

.DirectoryCard:hover {
    background: var(--dark-background);
    border-top-color: var(--home-border);
    border-right-color: var(--home-border);
    border-bottom-color: var(--home-border);
}

.DirectoryCard {
    background: var(--darker-background);
    border-top-color: var(--home-border);
    border-right-color: var(--home-border);
}

.DirectoryCategoryCard {
    background: var(--darker-background);
}

.DirectoryCategoryCard_CategoryName {
    color: var(--font-light);
}

.DirectoryCategoryCard_DirectoriesCount {
    color: var(--font-label);
}

.DirectorySection_Title {
    color: var(--font-label);
}

.DirectoryCard_FieldValue {
    color: var(--font-darker);
}

.DirectoryCard_FieldLabel {
    color: var(--font-darkest);
}

.DirectoryEntrySearchForm {
    border-bottom-color: var(--home-border);
}

.vx-tab-bar__tab--active {
    border-bottom-color: var(--home-border) !important;
}

.DirectoryEntries_DirectoryEntriesGroup {
    border-color:  var(--home-border);
}

.directory-Entry {
    border-color: var(--home-border);
}

.DirectoryEntriesGroup_GroupName  {
    color: var(--font-selected);
}

.directory-Entry_Title {
    color: var(--font-light);
}

.directory-Entry_FieldTitle {
    color: var(--font-darker);
}

.directory-Entry_FieldTitle--blue {
    color: var(--font-darker);
}

.directory-Entry_FieldLabel {
    color: var(--font-darkest);
}

.item-sm--auto {
    border-color: var(--home-border) !important;
}

.directory-Entry_FieldLink {
    color: var(--blue-night);
}

.directory-Entry_Tag {
    color: var(--font-light);
    background: var(--lavender-background);
}

.DirectoryTabBar_PageType {
    color: var(--font-darkest);
}

.recent-updates .item-detail-data {
    color: var(--font-darker);
}

.recent-updates .item-detail-label {
    color: var(--font-darker);
}

.recent-updates .item-detail-icon {
    color: var(--font-darkest);
}

/* Messages */

.messages .message:hover {
    background-color: var(--darker-background);
}

.messages .message {
    color: var(--font-light);
}

.messages .message-from {
    color: var(--font-light);
}

.messages .message-link {
    color: var(--font-light);
}

.messages .message-date-sent {
    color: var(--font-darkest);
}

.vx-button:hover {
    background: var(--selected-background);
    color: var(--font-light);
    transition: all 0.3s ease-out;
}

.messages-people .person .name {
    color: var(--font-light);
}

.messages-people .vx-avatar {
    border-color: var(--home-border);
}

.messages-people .people-group-header {
    border-color: var(--home-border);
}

.messages-people .person.unread::after {
    border-color: var(--home-border);
}

.messages-categories .channel-link {
    color: var(--font-light);
}

.messages-categories .category-group-header {
    border-color: var(--home-border);
}

.vx-record-header {
    background-color: var(--darker-background); 
}

.vx-record-header__type {
    color: var(--font-darkest);
}

.detail-email .small-data-field {
    color: var(--font-light);
}

.detail-email .vx-record-body {
    border-color: var(--home-border);
}

table.main-background {
    background: var(--darkest-color) !important;
}

table.main:nth-child(5) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1), table.main:nth-child(3) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) {
    border-color: var(--home-border) !important;
}

.image-text > p:nth-child(2) > span:nth-child(3) > span:nth-child(2) > span:nth-child(1) > span:nth-child(1) > span:nth-child(1), .image-text > p:nth-child(2) > span:nth-child(2) > span:nth-child(1) > strong:nth-child(1) > span:nth-child(1) > span:nth-child(1), table.main:nth-child(4) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > p:nth-child(1) > span:nth-child(1) {
    color: var(--font-light);
}

table.main:nth-child(7) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > p:nth-child(1) > img:nth-child(1) {
   -webkit-filter: invert(1);
   filter: invert(1);
}

table.main:nth-child(7) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > p:nth-child(1) > a:nth-child(2) {
    color: var(--blue-night) !important;
}

.vx-record-title-type {
    color: var(--blue-day) !important;
}

.image-text {
    color: var(--font-light) !important;
}



}
